* { margin: 0; padding: 0; }

.lazyloaded {
    width: 450px;
    height: 550px;
    padding: 30px 60px;
}

#down-icon {
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
  
  #down-icon.clicked {
    transform: translateY(20px); /* Adjust the distance for the downward motion */
  }
  