.customers-login-rabbit-en {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    padding: 0;
}

.layout-account {
    width: 100%;
}

.wrapbox-content-account {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}

.wrapbox-content-account a {
    color: #888;
}

.customer_login {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
}

.header-login-page {
    text-align: center;
    margin-bottom: 20px;
}

.header-login-page h1 {
    font-size: 25px;
}

.login-form {
    width: 100%;
    margin: 0 auto;
}

.login-form .clearfix {
    margin-bottom: 20px;
}

.login-form .icon-field {
    display: none;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    background-color: #ededed;
    outline: none;
    transition: background-color 0.3s;
}

.login-form input:focus {
    border: 1px solid #ededed;
    background-color: white;
}

.login-form .button {
    width: 100%;
    padding: 8px 30px 8px 30px;
    border-radius: 45px;
    background-color: #fbe7d1;
    border: 3px solid #f4b7ba;
    color: #616087;
    cursor: pointer;
}

.login-form .sitebox-recaptcha {
    margin-bottom: 20px;
    font-size: 12px;
    color: #888;
}

.login-form .custommer_account_action {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.login-form .req_pass {
    font-size: 12px;
    color: #888;
}