
.product-info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}

.product-info img{
    width: 450px;
    height: 450px;
}

.add-cart{
    width: 5px;
    height: 5px;
}

.products-policy {
    line-height: 30px;
    font-weight: 600;
    font-size: 20px;
}

.products-policy a {
    color: var(--menu-color);
}

.option-values {
    font-size: 20px;
}

.option-values span{
    padding-right: 10px;

}
.product-add-cart{
    color: var(--menu-color);
}
.container {
    justify-content: center;
}