@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Pacifico&family=Playpen+Sans:wght@100;300;400;500;600&family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');
*{
  font-family: 'Playpen Sans', sans-serif;
}

.loading{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.menu-products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-products-nav {
  /* position: fixed;
  z-index: 100; */
  padding-top: 50px;
  background-color: var(--nav-color);
  background-attachment: fixed;
  width: 200px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 50px;
}
.menu-products-list {
  list-style-type: none;
  position: sticky;
  top: 50px; 
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.menu-products-list a {
  text-transform: uppercase;
  color: #857f7b;
}

.menu-products-nav {
  padding-top: 50px;
  background-color: var(--nav-color);
  width: 200px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 100;
}

.products-container {
  flex: 1;
}
