.products-container {
    width: 100%;
    padding: 0 15px 100px 15px;
    margin-right: auto;
    margin-left: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.pagination button {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
}

.pagination button:hover {
    background-color: #616087;
    color: white;
    border: 1px solid #616087;
}

.pagination button.active {
    background-color: #616087;
    color: white;
    border: 1px solid #616087;
}