:root{
    --primary-color: #FDF7F2;
    --text-color: #EDB7AD;
}
.footer {
    background-color: var(--primary-color);
}

.name {
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: pink;
    display: flex;
    align-items: center;
    padding-left: 30%;
}

.address-list,
.footer-menu {
    list-style: none;
}

.footer-menu li a {
    color: black;
    font-weight: 500;
}

.footer-menu li {
    padding: 10px 0;
}

.contact-email {
    list-style: none;
}

.copyright {
    margin-top: 10rem;
}

.contact-icons {
    font-size: 30px;
}

.footer-title h4 {
    padding-top: 10px;
    font-size: 15px;
}

.footer .input-group {
    display: block;
    margin: 0;
    width: 100%;
}

.footer input {
    height: 30px;
    border: 2px solid #000;
    width: calc(80% - 90px);
}

.footer button {
    position: absolute;
    right: 50px;
    top: 0;
    padding: 0 20px;
    height: 30px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    text-align: center;
    line-height: 30px;
}