:root{
    --primary-color: #FDF7F2;
    --text-color: #EDB7AD;
}
.footer {
    margin-top: 30px;
    background-color: var(--primary-color);
}

.name {
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: pink;
    display: flex;
    align-items: center;
    padding-left: 30%;
}

.address-list,
.footer-menu {
    list-style: none;
}

.footer-menu li a {
    color: black;
    font-weight: 500;
}

.footer-menu li {
    padding: 10px 0;
}

.contact-email {
    list-style: none;
}

.copyright {
    margin-top: 10rem;
}

.contact-icons {
    font-size: 30px;
}

.footer-title h4 {
    padding-top: 10px;
    font-size: 15px;
}
