*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(240, 197, 205);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(219, 177, 184);
}
